<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Website</title>
    <link rel="stylesheet" href="C:\Users\Hello\Desktop\CADAssignment\static\styles\styles.css">

<!-- Define the background image in CSS -->
<style>
  body {
      background-image: url('event_2.jpg'); /* Replace 'background.jpg' with your image file path */
      background-size: cover; /* Adjusts the image size to cover the entire body */
  }
</style>

</head>
<body>
    <header>
        <h1>Welcome to SWAMI VIVEKANANDA INSTITUTE OF TECHNOLOGY</h1>
    </header>
    
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
    
    <section class="login-options">
        <h2>Login Options</h2>
        <div class="login-option">
            <h3>Students</h3>
            <a href="login.html">Login</a>
        </div>
        <div class="login-option">
            <h3>Professors</h3>
            <a href="Facultyprofile.html">Login</a>
        </div>
        <div class="login-option">
            <h3>Admin</h3>
            <a href="adminProfile.html">Login</a>
        </div>
    </section>

    <footer>
        <p>&copy; 2023 SVIT</p>
    </footer>
</body>
</html>
